<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">COMP2112</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" id="Home" aria-current="page" href="#"><i class="fa-solid fa-house fa-lg"></i> Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="About" aria-current="page" href="#"><i class="fa-solid fa-address-card fa-lg"></i> About Me</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="Projects" aria-current="page" href="#"><i class="fa-solid fa-list-check fa-lg"></i> My Projects</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="Services" aria-current="page" href="#"><i class="fa-solid fa-briefcase fa-lg"></i> My Services</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="Contact" aria-current="page" href="#"><i class="fa-solid fa-envelope fa-lg"></i> Contact Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>